@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Syne:wght@400;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing:border-box
}
body {
    font-family: 'Syne', sans-serif;
    font-size: 18px;
    font-weight: 100;
}
h2 {
    color: #fff;
    font-family: 'Germania One', cursive;
    font-size: 60px;
    font-weight: 100;
}
h3 {
    color: #323131;
    font-family: 'Germania One', cursive;
    font-size: 48px;
    font-weight: 100;
}
#top {
    background-image: url(../img/top.png);
    background-position: center;
    background-size: cover;
    min-height: 692px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#nav {
    width: 100%;
    position: fixed;
    top: 0;
}
.nav-container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.nav-text {
    display: flex;
    align-items: center;
}
.nav-text a{
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
}
.explore {    
    width: 50%;
    color: #fff;
    padding-right: 50px;
}
.explore p {
    margin-right: 30%;
    font-size: 18px;
}
.button {
    display: flex;
    margin-top: 48px;
}
.button a {
    color: #fff;
    display: flex;
    padding: 20px 75px;
}
.button .explore2 {
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #500c7a, #9f2f87);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
#mid {
    background-image: url(/img/bawahnya-top.png);
    background-repeat: no-repeat, no-repeat;   
    max-height: 461px; width: 100%;
    background-size: cover;
}
.logo2 {
    text-align: center;
    padding-top: 139px;
    padding-bottom: 41px;
}
.about .floating-island {
    position: absolute;
    top: -112px; right: -37px;
    size: 100%;
}
.about {
    background-color: #fff6ec;
    max-height: 632px; max-width: 1024px;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 68px;
}
.about h3 {
    padding: 44px 328px 18px 54px;
}
.about .p1 {
    margin-left: 51px;
}
.about .dices {
    position: absolute;
    right: 24px;
    bottom: 33px;
}
.border {
    border-left: 5px solid #d9c1a4;
    margin-left: 51px;
}
.border p {
    padding-left: 26px;
}
.about p {
    margin-right: 90px;
}
#campaign h3{
    padding-top: 506px;
    text-align: center;
    position:relative;
    color: #323131;
}
@media only screen and (max-width: 1440px) {

}