@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Syne&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing:border-box
}
body {
    background-color: white;
    background-size: cover;
    width: auto; height: auto;
}
#top {
    background-image: url(../img/top.png); height: 100%; width: auto;
    padding: 10px 90px 10px 90px;
    margin-bottom: 20px;
    background-size: cover;
}
h1 {
    color: #323131;
    font-family: 'Germania One', cursive;
    text-align: center;
    font-size: 20px;
}
.nav-text {
    width: 100%;
    text-align: right;
}
.nav-text a{
    color: #fff;
    text-decoration: none;
    font-family: 'Syne', sans-serif;
    font-size: 15px;
    padding: 20px;
}
.nav-logo {
    text-align: left;
}
.nav {
    display: flex;
}

@media only screen and (max-width: 1440px) {

}