@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Syne&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#top {
    background-image: url(img/top.png);
    padding: 10px 10px 10px;
    margin-bottom: 20px;
    background-size: cover;
}
h1 {
    color: #323131;
    font-family: 'Germania One', cursive;
    text-align: center;
    font-size: 20px;
}